<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form>
    Email:<br>
    <input type="email" name="emailID" /> <br>
    Comment:<br>
    <textarea></textarea><br>
    <button type="submit">Send Email</button>
</form>